@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-10 18:32:47
 * @version $Id$
 */
body{
	margin: 0;
	padding: 0 10px 0 10px;
}
.nav>.item{
	display: inline;
}
.nav{
	background:#ddd;
	display: flex;
	justify-content: space-around;
}
/*窗口宽度小于480时的样式*/
@media screen and (max-width: 480px){
	.nav{
		background:#fff;
	}
}
/*窗口宽度大于1000时的样式*/
@media screen and (min-width: 1000px){
	.nav{
		background:#aaa;
	}
}

a{
	display: inline-block;
}